:root {
    --primary-color: #FE724C;
    --text-color: #000000;
    --text-secondary-color: #5B5B5E;
    --white-color: #FFFFFF;
    --separator-color: #D4D6E0;
}

body {
    font-family: "Open Sans", sans-serif;
}