.card-button {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.03);
    color: #FFF;
    border: none;
    cursor: pointer;
    text-align: start;
    width: 100%;
}

.card-button:hover {
    background: rgba(255, 255, 255, 0.10);
}