.layout {
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
}

.logo__wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #d4d6e0;
}