.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.journal-form__input-title-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

.journal-form__input-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.journal-form__input {
    width: 100%;
}

.journal-form__input-title {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    background: none;
    border: none;
    width: 100%;
    padding-right: 32px;
}

.journal-form__input-icon {
    position: absolute;
    pointer-events: none;
    opacity: 0.7;
    padding: 0;
    background: none;
}

.journal-form__input-icon-title {
    background: none;
    width: 30px;
    height: 30px;
}

.journal-form__input-icon-date, .journal-form__input-icon-tag {
    top: 50%;
    transform: translateY(-50%);
}

.journal-form__input-description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0.7;
    left: 38px;
}

.journal-form__input-date, .journal-form__input-tag {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0 15px 146px;
}

.journal-form__textarea-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #fff;
    background: none;
    border: none;
}

.journal-form__button-save {
    display: flex;
    align-self: flex-start;
    border-radius: 6px;
    padding: 8px 30px;
    font-family: inherit;
    cursor: pointer;
    transition: background 0.25s;
    font-size: 16px;
    border: none;
    background: #312EB5;
}

.journal-form__button-save:hover {
    background: #222096;
}