.input {
    border: 1px solid #eee;
    border-radius: 10px;
    width: 304px;
    height: 23px;
    padding: 20px;
    box-shadow: 15px 20px 45px 0 rgba(233, 233, 233, 0.25);
    background: var(--white-color);
    font-weight: 400;
    font-size: 17px;
    color: #c4c4c4;
}