.login__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login__button {
    align-self: center;
}

.form__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}